{require_otp_vsn, "1[78]"}.

{erl_opts,
 [fail_on_warning,
  {parse_transform, lager_transform}]}.

{deps_dir, "deps"}.
{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", {tag,"2.1.1"}}},
        {erl_mnesia, ".*", {git, "https://github.com/ivanos/erl_mnesia.git", {branch,"master"}}},
        {dobby_clib, ".*", {git, "https://github.com/ivanos/dobby_clib.git", {branch,"master"}}},
        {'iso8601', ".*", {git, "https://github.com/ivanos/erlang_iso8601.git", {tag, "master"}}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.2"}}},
        {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
        {proper, ".*", {git, "https://github.com/manopapad/proper.git", {tag, "master"}}}
       ]
}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
