{require_otp_vsn, "17"}.

{erl_opts,
 [fail_on_warning,
  {parse_transform, lager_transform}]}.

{deps_dir, "deps"}.
{deps, [
        {dobby_clib, ".*", {git, "https://github.com/shivarammysore/dobby_clib.git", {branch,"master"}}},
        {'iso8601', ".*", {git, "https://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}},
        {lager, ".*", {git, "https://github.com/basho/lager.git", {tag,"2.1.0"}}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.13.3"}}},
        {meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
       ]
}.

{sub_dirs,
 ["rel"]
}.
{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
